@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/Helvetica\ Neu\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue Haas Grostik Dispkay';
    src: url('./assets/NHaasGroteskTXPro-55Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'Acta Display';
    src: url('./assets/Acta\ Display\ Book.ttf');
}

.App {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    padding: 2rem 2.5rem;
    margin-bottom: 48rem;
}

/*-----------------------------------------
-------------------Header------------------
-----------------------------------------*/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 0.8rem;
    font-family: 'Neue Haas Grostik Dispkay';
    transition: all 1s ease-out;
    z-index: 100;
}

.nav .tagline {
    color: rgb(48, 48, 48);
    font-size: 1.1vw;
    text-transform: uppercase;
    margin-left: 0;
    letter-spacing: -0.4px;
}

.nav .nav_menu .fas {
    margin-left: 4px;
    font-size: 0.72rem;
}

.nav .nav_menu .menu_title {
    margin-left: 1rem;
    font-size: 0.76rem;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}


.heading {
    margin-bottom: 1.2rem;
    font-size: 6vw;
    margin-left: 30px;
    font-weight: 700;
    font-family: 'Neue Haas Grostik Dispkay';
}

.video_section {
    margin-bottom: 24rem;
}

/*-----------------------------------------
-------------------Body--------------------
-----------------------------------------*/

.body_section {
    color: white;
}

.centered_element {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
    margin-bottom: 24rem;
}

.centered_element:before, .centered_element:after {
    content: " ";
    flex-basis: 100%;
    display: block;
    height: 0;
    overflow: hidden;
}

.body_detail_text {
    float: left;
    width: 80%;
    margin-left: 10%;
    font-size: 3.4rem;
    font-family: 'Acta Display';
    text-align: center;
    line-height: 1.0416666667;
    letter-spacing: -0.02em;
}

.sticky {
    height: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 50% auto;
    margin-bottom: 24rem;
}

.big_heading {
    font-size: 10rem;
    text-align: center;
    font-weight: 900;
    padding-top: 5.6rem;
    margin-left: 16rem;
    font-family: 'Helvetica Neue';
    mix-blend-mode: difference;
}

.temp_text {
    margin-top: 48rem;
    color: white;
    margin-bottom: 24rem;
}

.scroll_img {
    margin-left: -45.4rem;
    width: 94.4vw;
    height: 120vh;
}

.sticky_scroll_paragraph {
    margin-top: 24rem;
    margin-bottom: 24rem;
    font-size: 2rem;
    line-height: 1;
    padding-left: 1rem;
    font-family: 'Acta Display';
}

.empty_target {
    margin-bottom: 48rem;
}

.centered_element2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 -2rem;
    margin-bottom: 24rem;
}

.body_detail_text2 {
    float: left;
    width: 72%;
    font-size: 3.4rem;
    text-align: center;
    line-height: 1.0416666667;
    letter-spacing: -0.02em;
    margin-bottom: 4rem;
    font-family: 'Acta Display';
    font-weight: 100;
}

.find_out_link {
    font-size: 1.4rem;
    cursor: pointer;
    word-spacing: -2px;
    font-family: 'Neue Haas Grostik Dispkay';
}

/*-----------------------------------------
-------------------Body--------------------
-----------------------------------------*/

.footer {
    border-top: 2px solid #949494;
    color: white;
    padding-top: 0.8rem;
}

.footer .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 12.8rem;
    font-size: 0.92rem;
}

.footer .container .footer_links {
    padding-right: 12rem;
    line-height: 1.05;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #F6F6F4;
    font-family: 'Neue Haas Grostik Dispkay';
}

.footer .container .footer_links:nth-of-type(3) {
    padding-right: 10rem;
}

.footer .container .footer_links:last-of-type {
    padding-right: 14rem;
}

.footer .container .footer_links .footer_link {
    cursor: pointer;
}

.footer_header {
    margin-bottom: 13rem;
    margin-left: 10px;
    font-size: 6.5vw;
    font-weight: 700;
}

.find_out_link a{
    color: white;
    font-size: 3vw;
    text-decoration: none;
}

.find_out_link a:hover{
    color: red;
}